:root {
--c-primary:#2E2F42;
--c-text:#434455;
--c-primary-brand:#4D5AE5;
--c-background:#FFF;
--c-pressed-state:#404BBF;
--c-text-light:#F4F4FD;
}
body {
   font-family: 'Roboto', sans-serif;
   color: var(--c-text); 
   background-color: var(--c-background);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
img {
    display: block;
}
button {
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.section {
    padding: 60px 0;
}
.conteiner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}
.logo {
    color: var(--c-primary-brand);
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   }
.logo-accent {
    color: var(--c-primary);
   }
.address-link {
    color: var(--c-text);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:active {
    color: var(--c-primary-brand);
}
.address-link:hover {
    color: var(--c-pressed-state);
}
.address-link:focus {
    color: var(--c-pressed-state);
}
.nav-link {
    color: var(--c-primary);
    font-size: 16px;
    font-weight: 500;
    line-height:1.5;
    letter-spacing: 0.02em;
 }
.nav-link:active {
    color:var(--c-primary-brand);
}
.nav-link:hover {
    color: var(--c-pressed-state);
}
.nav-link:focus {
    color: var(--c-pressed-state);
}
.hero-section {
    background-color: var(--c-primary);
    padding: 60px 0;
}
.hero-title {
    color: var(--c-background);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
}
.hero-button {
    color: var(--c-background);
    background-color: var(--c-primary-brand); 
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:hover {
    color: var(--c-background);
    background-color: var(--c-pressed-state);
}
.hero-button:focus {
    background-color: var(--c-pressed-state);
}
.feature-section {
    background-color: var(--c-background);
    padding: 60px 0;
}
.list {
    background-color: var(--c-background);
}
.list-title {
    color: var(--c-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    margin-bottom: 8px;  
}
.list-text {
    color: var(--c-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-section {
    background-color: var(--c-text-light);
    padding: 60px 0;
}
.team-member {
    background-color: var(--c-background);
}
.team-header {
    color: var(--c-primary);
    background-color: var(--c-text-light);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.team-title {
    color: var(--c-primary);
    background-color: var(--c-background);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-text {
    color: var(--c-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-header {
    color: var(--c-primary);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.portfolio-title {
    color: var(--c-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    color: var(--c-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-section {
    background-color: var(--c-primary);
    padding: 60px 0;
}
.logo-footer {
    color: var(--c-primary-brand);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-footer-accent {
    color: var(--c-text-light);
}
.footer-text {
    color: var(--c-text-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}